:root {
  --mainColor: rgb(48, 90, 217);
  --backColor: rgb(54, 53, 64);
  --color-title: rgb(0, 74, 173);
  --lines: rgb(0, 194, 203);
  --lines2: rgb(3, 152, 158);
  --claro: rgb(197, 197, 197);
  --escuro: rgb(37, 37, 37);
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(45deg, var(--lines2), var(--mainColor));
}
header {
  width: 100%;
  padding: 25px;
  border-bottom: 1px solid var(--escuro);
  background: transparent;
}
header > nav {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
ul {
  list-style: none;
}
.nav-list {
  width: 40%;
  list-style: none;
  color: var(--claro);
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
#brand {
  color: var(--claro);
  text-shadow: 1px 1px 1px var(--lines2);
  font-weight: bolder;
  transition: transform 0.5s ease;
  cursor: none;
}
#brand:hover {
  transform: scale(1.02);
}
.list-item a {
  color: var(--claro);
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
.list-item a:hover {
  color: var(--lines);
}
.list-item a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: var(--lines);
  height: 2px;
  width: 100%;
  border-radius: 50%;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.list-item a:hover::after {
  transform: scaleX(1);
}
.nav-burger {
  width: 95%;
  padding: 5px;
  margin: auto;
  display: none;
  transition: all 0.5s ease;
}
.b-list {
  list-style: none;
  width: 100%;
  margin-top: 20px;
}
.b-list-item {
  padding: 10px;
  border-bottom: 1px solid var(--claro);
  text-align: center;
}
.b-list-item a {
  color: var(--claro);
  text-decoration: none;
}
#b-button {
  display: none;
}

.visible {
  display: flex;
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  line-height: 50px;
  font-size: 36px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  background: var(--claro);
  color: var(--mainColor);
  border: none;
  z-index: 5;
}
#presentation {
  height: 85vh;
  width: 95vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#background-presentation {
  height: 90vh;
  width: 100%;
  background: url(./../images/background-presentation.png) center center;
  background-size: cover;
  position: absolute;
  top: 11vh;
  left: 0;
  opacity: 0.7;
  z-index: -1;
}
#about {
  padding-left: 60px;
  width: 45%;
}

#about h2 {
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--escuro);
  color: var(--claro);
  display: inline-block;
  position: relative;
  top: 30px;
  left: 25px;
}

.title {
  padding: 50px;
  color: var(--claro);
}
.title p {
  padding: 25px 0;
  font-style: italic;
}
.title h1 {
  font-size: 2em;
  color: var(--escuro);
  text-shadow: 1px 1px 5px var(--claro), -1px 1px 5px var(--claro),
    -1px -1px 5px var(--claro), 1px -1px 5px var(--claro);
}
.perfil {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.perfil img {
  border: 4px double var(--lines);
  box-shadow: 3px 3px 5px var(--escuro);
  width: 65%;
  border-radius: 50%;
  margin: auto;
}
#whofigure {
  width: 45%;
}
#presentation,
#services {
  border-bottom: 1px solid var(--escuro);
}

#services {
  margin: 5vh auto 15vh;
  height: 90vh;
  padding: 25px;
  text-align: center;
  position: relative;
}
#services h3,
#projects h3 {
  text-align: center;
  width: 100%;
  color: var(--claro);
  text-shadow: 1px 1px 2px var(--lines);
  border-bottom: 1px solid var(--claro);
  font-size: 2rem;
  padding: 5px;
}
#services .emoticon {
  font-size: 2rem;
  display: inline-block;
  width: 50px;
  text-align: center;
}
#services .sobremim {
  color: var(--claro);
  list-style: none;
  margin: 15px;
  padding: 15px 0;
}

#services h4 {
  color: var(--claro);
  text-align: center;
  padding: 5px;
  text-decoration: 2px underline double var(--escuro);
  font-size: 1.5rem;
}

#services p img {
  width: 100px;
}
#services p {
  color: var(--claro);
  text-align: center;
  margin: 0 auto;
}
.tools {
  width: 80vw;
  list-style: none;
  display: flex;
  margin: 25px auto;
  justify-content: space-evenly;
  align-items: flex-start;
}
.tools li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--lines);
  font-weight: bolder;
}
.tools li img {
  max-width: 100%;
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
  padding: 4px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px var(--color-title);
  background-color: var(--claro);
}
#projects {
  color: var(--claro);
}

.projetos {
  width: 80vw;
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  margin: 32px auto;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

.projetos-item {
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  box-shadow: 2px 2px 4px rgba(125, 125, 125, 0.8);
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 1em;
  background: rgba(255, 255, 255, 0.2);
}

.projetos-item > p {
  text-align: center;
}
.projetos-item a {
  color: #1c1c1c;
  text-decoration: none;
}
.codepen {
  height: 300px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin: 1em 0;
  padding: 1em;
}

#contact {
  position: relative;
  bottom: 0;
  left: 0;
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-title);
  color: var(--claro);
}

#contact h3 {
  text-align: center;
  width: 100%;
  color: var(--claro);
  text-shadow: 1px 1px 2px var(--lines);
  border-bottom: 1px solid var(--escuro);
  font-size: 2rem;
  padding: 5px;
}

.redes-sociais {
  color: var(--mainColor);
  list-style: none;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.redes-sociais > li a {
  color: var(--lines);
  text-decoration: none;
  font-size: 32px;
  transition: all 0.5s ease;
}
.redes-sociais > li a:hover {
  color: var(--lines2);
  font-size: 48px;
  text-shadow: 1px 1px 5px var(--claro);
}

@media screen and (max-width: 414px) {
  header > nav {
    width: 100%;
  }
  #brand {
    width: 100%;
    text-align: center;
  }
  .nav-list {
    display: none;
    width: 0;
  }
  #b-button {
    display: inline;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 36px;
    height: 36px;
    background-color: transparent;
    color: var(--claro);
    border: none;
  }
  .container {
    display: inline-block;
    cursor: pointer;
  }

  .bar {
    width: 30px;
    height: 3px;
    background-color: var(--claro);
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar:nth-child(1) {
    transform: translate(0px, 10px) rotate(-45deg);
  }
  .change .bar:nth-child(2) {
    opacity: 0;
  }
  .change .bar:nth-child(3) {
    transform: translate(0px, -8px) rotate(45deg);
  }

  #presentation {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #whofigure {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  #whofigure .perfil {
    width: 200px;
  }
  #about {
    width: 100vw;
    text-align: center;
    padding: 0;
  }
  #about .title {
    width: 100vw;
    display: flex;
  }
  #about .title p {
    width: 25vh;
  }

  #services {
    height: 125vh;
    text-align: justify;
  }
  #services .emoticon {
    font-size: 2.5rem;
    width: 48px;
  }
  #services .sobremim {
    margin: 0;
    padding: 5px;
  }
  .tools {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  #services .emoticon {
    font-size: 2rem;
    width: 48px;
  }
  .tools {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
}
